services:
    x1200-ups-exporter:
        image: ghcr.io/simonjur/x1206-docker-nodejs-rpi5-monitor/x1206-nodejs-exporter:latest
        build: .
        container_name: x1200-ups-exporter
        restart: unless-stopped
        ports:
            - "7001:3000"

        # Give access to I2C and GPIO devices on the host
        devices:
            - "/dev/i2c-1:/dev/i2c-1"
            - "/dev/gpiochip0:/dev/gpiochip0"

        privileged: true

        # Environment variables if you want to tweak behavior without rebuilding
        environment:
            - NODE_ENV=production
            - LISTEN_PORT=3000

        deploy:
            resources:
                limits:
                    memory: 256M
